@import url("https://fonts.googleapis.com/css?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    #9b27ca 0%,
    #9927cf 0%,
    #d33639 100%,
    #f92121 100%
  );
}

.wrapper {
  position: absolute;
  max-width: 480px;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  pointer-events: none;
  border-radius: 15px;
  padding: 40px 30px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  transform: translate(-50%, -50%) scale(1.2);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.06);
  transition: opacity 0.2s Os ease-in-out, transform 0.25 Os ease-in-out;
}

.wrapper .show {
  opacity: 1;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(1);
}

.wrapper .content,
.content .warn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper .content {
  flex-direction: column;
}

.content .warn-icon {
  height: 115px;
  width: 115px;
  border-radius: 50%;
  background: linear-gradient(
    #9b27ca 0%,
    #9927cf 0%,
    #d33639 100%,
    #f92121 100%
  );
}

.warn-icon span {
  height: 100px;
  width: 100px;
  background: #fff8;
  border-radius: inherit;
}

.warn-icon span i {
  font-size: 50px;
  transform: translate(38px, 23px);
  background: linear-gradient(
    #9b27ca 0%,
    #9927cf 0%,
    #d33639 100%,
    #f92121 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content h2 {
  margin-top: 35px;
  font-size: 32px;
}

.content p {
  font-size: 19px;
  text-align: center;
  margin-top: 2;
}

.content button {
  margin-top: 30px;
  padding: 15px 33px;
  font-size: 18px;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 50px;
  cursor: pointer;
  background: linear-gradient(
    135deg,
    #9b27ca 0%,
    #9927cf 0%,
    #d33639 100%,
    #f92121 100%
  );
}
